---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
eleventyExcludeFromCollections: true
---

<p>Hi, I'm Amber. This site is for my personal stuff. It may include some tech content, since that's one of my personal interests.</p>

<p>For my professional contact info, please <a href="https://amberjoy.dev" target="_blank">go here instead.</a></p>

{# {% set maxPosts = collections.posts.length | min(3) %}
<h1>{% if maxPosts == 1 %}Latest Blog Post{% else %}{{ maxPosts }} Latest Blog Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
